---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const pageTitle = 'Mi blog de aprendizaje con astro';
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam pariatur
    qui enim doloremque vero, maxime dignissimos ea ad quisquam soluta
    repudiandae ut sint voluptates quia aut eveniet iure quis quibusdam!
  </p>

  <ul>
    {allPosts.map(post => post.data && <BlogPost url={post.slug} title={post.data.title} />)}
  </ul>
</BaseLayout>
