---
import Greetings from '../components/Greetings';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Mi impresionante subtitulo de pagina</h2>
	<Greetings client:load messages={["Hola", "Que tal", "Hola a todos"]} />
</BaseLayout>